@charset "utf-8";
/* CSS Document */

#header{
	text-align:center;
	size: 150px 800px;
}

body{
	height:600px;
	width:960px;
	margin-left:auto;
	margin-right:auto;
	background-color:#666;
}

#footer{
	width:800px;	
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	background-color:#03F;
	color:#FFF;
	margin-left:auto;
	margin-right:auto;
}

#site_menu{
	background-color:#000;
	width:800px;
	margin-left:auto; 
	margin-right:auto;
}

#site_menu ul{
	list-style-type:none;
	height:60px;
	width:800px;
	margin-left:auto; 
	margin-right:auto;
}

#site_menu ul a {
	float:left;
	display:block;
	text-align: center;
	width:266.666px;
	line-height:50px;
	background:#39499c;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-indent: 0px;
	
}

#site_menu ul li {
	float:left;
	
}


#site_menu a:hover{
	background:#000;
}

#site_menu a{
	color:#FFF;
}

#site_menu ul li:first-child a {
	width:250.666px;
	border-left:8px solid #000;
	border-right:8px solid #000;
}

#site_menu ul li:last-child a {
	width:250.666px;
	border-left:8px solid #000;
	border-right:8px solid #000;
}

#sidebar{
	position:relative;
	left:80px;
	margin-left:auto;
	margin-right:auto;
}

#sidebar ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}

#sidebar ul a {
	background:#C00;
	display:block;  
	border-bottom:4px solid #000;
	color:#FFFFFF;
	padding:0px;
	text-decoration:none;
	text-align:center;
	line-height:50px;
	height:50px;
	width:150px;
}

#sidebar li {
	padding:0px;
}

#sidebar a:hover {
	background:#CCC;
	color:#990033;
}

#sidebar li:last-child a {
	border-bottom: none;
}

#main_content{
	position:relative;
	width: 800px;
	padding: 20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	
}

p{
	background-color:#39499c;
	font-family:Arial, Helvetica, sans-serif;
	size:12pt;
	padding:10px;
}

h3{
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	size:16pt;
	width:300px;
	color:#39499c;
	background-color:#000;
}
	