@charset "utf-8";
/* CSS Document */

body{
	background-color:#DAC19C;
}

p{
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:14px;
	position:relative;
	color:#666;
	
}

#allContent {
	background-color:#FFF;
	width:800px;
	height:680px;
	margin-left:auto;
	margin-right:auto;
}

#hotLocations{
	width:447px;
	height:284px;
	background-color:#CCC;
	border-right:1px;
	
}

#images{
	margin-top:1px;
	float:left;
	border-color:#666;
}
	

h6{	
	font-size:10px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

h6.italyTitle{
	color:#006;
	position:relative;
	top:15px;
	left:10px;
	bottom:auto;
	right:auto;
}
#italyIMG{
	position:relative;
	top:25px;
	left:10px;
	bottom:auto;
	right:auto;
	}
p.pgrph1{
	width:318px;
	top:-45px;
	left:124px;
	bottom:auto;
	right:auto;
}
	
h6.hawaiiTitle{
	color:#0C3;
	position:relative;
	top:-12px;
	left:10px;
	bottom:auto;
	right:auto;
}
#hawaiiIMG{
	position:relative;
	top:-1px;
	left:10px;
	bottom:auto;
	right:auto;
	}
p.pgrph2{
	width:318px;
	top:-75px;
	left:124px;
	bottom:auto;
	right:auto;
}
#menu{
	float:left;
}

ul{
	list-style-type: none;
	margin:0px;
	padding:0px;
}

li{
	background-image:url(menu_bg.gif);
	width:106px;
	height:24px;
	top:-284px;
	left:1px; 
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	position:relative;
	margin-top:1px;
	margin-left:auto;
	margin-right:auto;
}

#submitArea{
	float:right;
	width:245px;
	height:173px;
	background-color:#06F;
}

#packages{
	position:relative;
	top:-284px;
	left:448px;
	width:352px;
	border-bottom:1px;
	border-color:#999;
	
}

h3.titleStyle01{
	float:right;
	
}

#gold{
	position:relative;
	top:18px;
	left:18px;
}

h6.goldPkg{
	position:relative;
	font-weight:bold;
	top:8px;
	left:48px;
	color:#cc9933;
}

p.pgrph3{
	line-height:16px;
	top:20px;
	left:18px;
	width:318px;
}
	
#silver{
	position:relative;
	top:68px;
	left:-52px;
}

h6.silverPkg{
	position:relative;
	font-weight:bold;
	top:54px;
	left:48px;
	color:#b4b4b4;
}

p.smlpgrph{
	top:30px;
	left:18px;
	line-height:16px;
}

p.pgrph4{
	line-height:16px;
	top:72px;
	left:18px;
	width:318px;
}

h6.endPg{
	position:relative;
	background-color:#333;
	color:#fff;
	top:-94px;	
	padding: 10px 0px 10px 20px;
	
}
#readButton1{
	position:relative;
	top:38px;
	left:266px;
}

#readButton2{
	position:relative;
	top:80px;
	left:266px;
	
}

#special{
	position:relative;
	left:478px;
	top:-178px;
	border-top:thin;
	border:#999;
}